*{
    padding: 0;
    margin: 0;
}

.outerdiv{
    height: 100vh;
    width: 100vw;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner1div{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5vmin;

}
.box{
    height: 18vmin;
    width: 18vmin;
    background-color: aliceblue;
    border-radius: 7px;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0,0.3);
    font-size: 9vmin;
    
}
#r1{
    padding: 1rem;
    background-color: black;
    color: aliceblue;
    border-radius: 1rem;
    border: none;
}